<div id="room">
  <div class="card" [class]="staff ? 'c-banner' : 'c-light'">
    <img src="./../../../assets/logo.png" alt="logo" class="logo" />
    <div id="greetings-text">
      <h1>Greetings</h1>
      <h3>Welcome to the {{ room }} Room</h3>
    </div>
  </div>
  <div *ngIf="staff">
    <a routerLink="./add-patient">
      <button>➕🤧 NEW PATIENT</button>
    </a>
    <a routerLink="./message-patient">
      <button>💬👨‍👩‍👧‍👦 MESSAGE ALL PATIENTS</button>
    </a>
    <a routerLink="./">
      <button>BACK</button>
    </a>
    <router-outlet></router-outlet>
  </div>
  <app-patient-monitor
    [patients]="patients"
    [staff]="staff"
  ></app-patient-monitor>
</div>
