<div class="form">
  <form [formGroup]="addPatient" (ngSubmit)="onSubmit()">
    <div class="control">
      <label for="firstname">First Name</label>
      <br />
      <input
        name="firstname"
        type="text"
        formControlName="firstname"
        [class]="validity('firstname') ? 'c-accent' : ''"
        placeholder="Max"
        required
      />
      <p [class]="validity('firstname') ? 'c-accent':'disappear'">
        Please add your given name
      </p>
    </div>
    <div class="control">
      <label for="lastname">Last Name</label>
      <br />
      <input
        name="lastname"
        type="text"
        formControlName="lastname"
        [class]="validity('lastname') ? 'c-accent' : ''"
        placeholder="Mustermann"
        required
      />
      <p [class]="validity('lastname') ? 'c-accent':'disappear'">
        Please add your family name
      </p>
    </div>
    <button type="submit" [disabled]="addPatient.invalid">ADD PATIENT</button>
  </form>
</div>
