/* BASIC SPACING */
html,
body {
  padding: 0;
  margin: 0 auto;
  background-color: rgba(249, 249, 249, 1);
}
/* BASIC FONT */
#app {
  font-family: Avenir, Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: rgba(44, 62, 80, 1);
}

/* BASIC COLORS -> "c-tone" */
/* shades of blue */
.c-light {
  background-color: rgba(213, 255, 254, 1);
  border-color: rgba(130, 195, 197, 1);
  color: rgb(130, 195, 197);
  text-shadow: 0.1px 0.1px 0.1px rgba(44, 62, 80, 1);
}
.c-banner {
  background-color: rgba(130, 195, 197, 1);
  color: rgba(249, 249, 249, 1);
}
.c-normal {
  background-color: rgba(183, 244, 243, 1);
  border-color: rgba(130, 195, 197, 1);
  color: rgba(130, 195, 197, 1);
  text-shadow: 0.1px 0.1px 0.1px rgba(249, 249, 249, 1);
}
.c-font {
  color: rgba(44, 62, 80, 1);
  letter-spacing: 0.15rem;
}
/* red */
.c-accent {
  background-color: rgba(213, 255, 254, 1);
  border-color: rgba(178, 28, 28, 1);
  color: rgba(178, 28, 28, 1);
}
/* white */
.c-background {
  background-color: rgba(213, 255, 254, 1);
  border-color: rgba(44, 62, 80, 1);
  color: rgba(44, 62, 80, 1);
}

/* <a> TAGS */
a,
a:visited {
  color: rgba(44, 62, 80, 1);
  border: none;
  outline: none;
}
a:hover,
a:active {
  font-weight: bold;
}
a:focus {
  color: rgba(178, 28, 28, 1);
}

/* .card COMPONENT */
.card {
  border-radius: 15px;
  box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.3);
  margin: 1rem auto;
  max-width: 80%;
  padding: 0.2rem;
}
button {
  border-radius: 10px;
  border: 1px solid;
  padding: 0.5rem 1rem;
  font-size: 1rem;
  letter-spacing: 0.1rem;
  margin: 0.5rem 1rem;
  color: inherit;
}
button:active {
  box-shadow: inset 1px 0px 5px rgba(44, 62, 80, 1);
}
button:disabled {
  opacity: 0.2;
}
input {
  color: inherit;
}
label {
  opacity: 0;
}

.control input {
  width: 80%;
  font-size: 2rem;
  padding: 1rem;
  align-self: start;
  border: none;
  border-bottom: 1px solid;
  background-color: inherit;
  margin: auto;
}
.control p {
  background-color: inherit;
  margin: 0;
  width: 90%;
  text-align: right;
}
.control button {
  margin-bottom: 1rem;
}
.logo {
  max-width: 10rem;
}
.disappear {
  opacity: 0;
}
