<div class="card" id="patient-monitor">
  <div
    class="card"
    [class]="patient.in_session ? 'c-accent' : 'c-normal'"
    *ngFor="let patient of patients"
  >
    <p>NAME: {{ patient.firstname }} {{ patient.lastname }}</p>
    <!-- <p>WAITING-TIME: {{ patient.last_visit }}</p> -->
    <p class="patient-message" [class]="patient.messsage ? 'c-accent':'disappear'">{{patient.messsage ? '💬: '+ patient.messsage:''}}</p>
    <div *ngIf="staff">
      <button class="c-accent" (click)="callPatient(patient.id)">
        CALL 🔔
      </button>
      <button class="c-accent" (click)="endSession(patient.id)">
        REMOVE 🔕
      </button>
      <a routerLink="./message-patient">
        <button
        (click)="setMsgPatient(patient.id)" class="c-accent">💬🤧 MESSAGE PATIENT</button>
      </a>
    </div>
  </div>
</div>
