button {
  min-width: 20%;
  min-height: 2rem;
  font-size: 1rem;
}
.patient-info {
  padding: 1rem;
  border-top: 1px solid ;
  border-bottom: 1px solid ;
}
#patient-monitor {
  border: 2px solid;
  font-size: 1.5rem;
}
