<div class="form">
  <form [formGroup]="msgPatientForm" (submit)="onSubmit()">
    <div class="control">
      <h3>Message to: {{ patientName }}</h3>
      <label for="message">Message</label>
      <br />

      <input
        name="message"
        type="text"
        formControlName="message"
        [class]="
          this.msgPatientForm.invalid && this.msgPatientForm.touched
            ? 'c-accent'
            : ''
        "
        placeholder="Your message here"
        required
      />
      <p
        [class]="
          this.msgPatientForm.invalid && this.msgPatientForm.touched
            ? 'c-accent'
            : 'disappear'
        "
      >
        Please add your message
      </p>
    </div>

    <button type="submit">💬🤧 SEND</button>
  </form>
</div>
